table {
    width: 75%;
    vertical-align: middle;
    background-color: black;
}

td {
    margin: 5px;
    text-align: center;
}

tr {
    margin: 5px;
    height: 5px;
}

.selected {
    background-color: yellow;
}

.notSelected {
    background-color: white;
}